<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCAB_Debugger2_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PCAB_Debugger2_GUI.Properties.Settings>
            <setting name="mli" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sn" serializeAs="String">
                <value>0000011@R,0000012@R,0000013@R,0000021@Z,0000022@Z,0000023@Z,0000031@Z,0000032@Z,0000033@Z</value>
            </setting>
            <setting name="winMainWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="winMainHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="winMonitorWidth" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="winMonitorHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="winMainTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winMainLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winMonitorTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winMonitorLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winMainMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="winMonitorMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spCaption1" serializeAs="String">
                <value />
            </setting>
            <setting name="spCaption2" serializeAs="String">
                <value />
            </setting>
            <setting name="spCaption3" serializeAs="String">
                <value />
            </setting>
            <setting name="spBaudRate1" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="spBaudRate2" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="spBaudRate3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="spEnable1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="spEnable2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spEnable3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="visaAddr" serializeAs="String">
                <value>TCPIP0::localhost::hislip0::INSTR</value>
            </setting>
            <setting name="visaTO" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="fnHeader" serializeAs="String">
                <value>DAT</value>
            </setting>
            <setting name="mil" serializeAs="String">
                <value>1000</value>
            </setting>
        </PCAB_Debugger2_GUI.Properties.Settings>
    </userSettings>
</configuration>